.DS_Store
.idea
.tox

__pycache__
*.py[co]

/photoslib.egg-info
/tests/media
/example_project/db.sqlite3
/example_project/photoslib
/example_project/media
/example_project/static
/photoslib/static_src/node_modules
