.Photo {
  display: flex;
  flex-wrap: wrap;
}

.Photo_sortable {
  cursor: move;
}

.Photo_dragging {
  opacity: 0.7;
}

.Photo__Urls {
  display: flex;
  flex-direction: column;
}

.Photo__Img {
  margin: 0 10px 5px 0;
}

.Photo__Actions {
  display: flex;
  align-items: center;
  margin: 5px 0 0 0;
}

.flip {
  transform: scaleX(-1);
}
