.Photo {
  display: flex;
}

.Photo_sortable {
  cursor: move;
}

.Photo_dragging {
  opacity: 0.7;
}

.Photo__Urls {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.Photo__Img {
  margin-bottom: 5px;
}

.Photo__Actions {
  display: flex;
  align-items: center;
}

.flip {
  transform: scaleX(-1);
}
