<div id="{{ widget.attrs.id }}-widget">Loading...</div>
<input type="hidden" id="{{ widget.attrs.id }}" name="{{ widget.name }}" value="{% if widget.value %}{{ widget.value }}{% endif %}">
<script>
  if (window.__photoslibInit) {
    document.addEventListener('DOMContentLoaded', function () {
      __photoslibInit({
        rootElement: document.getElementById('{{ widget.attrs.id }}-widget'),
        input: document.getElementById('{{ widget.attrs.id }}'),
        value: {% if widget.value %}{{ widget.value }}{% else %}null{% endif %},
        apiOptions: {{ apiOptions|safe }},
        opts: {{ opts|safe }},
        messages: {{ messages|safe }},
      })
    });
  } else {
    console.error('__photoslibInit function is not found')
  }
</script>
