<div id="{{ widget.attrs.id }}-widget">Loading...</div>
<input type="hidden" id="{{ widget.attrs.id }}-loading" name="{{ widget.name }}" value="widget is not loaded">
<script>
  if (window.__photoslibInit) {
    document.addEventListener('DOMContentLoaded', function () {
      __photoslibInit({
        rootElement: document.getElementById('{{ widget.attrs.id }}-widget'),
        inputName: '{{ widget.name }}',
        initialValue: {% if widget.value %}{{ widget.value | safe }}{% else %}null{% endif %},
        apiOptions: {{ apiOptions|safe }},
        opts: {{ opts|safe }},
        messages: {{ messages|safe }},
      })(function() {
        document.getElementById('{{ widget.attrs.id }}-loading').remove()
      })
    });
  } else {
    console.error('__photoslibInit function is not found')
  }
</script>
