.PhotoUrl {
  display: flex;
  align-items: center;
}

.PhotoUrl__Input {
  position: absolute;
  top: -100px;
  left: -100px;
}

.PhotoUrl__Name {
  font-weight: 800;
  &:after {
    content: ':';
    margin-right: 10px;
  }
}
